/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #292c33;
  color: #fff;
}

h1 {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

.table-center {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 60vw;
  height: 50vh;
}

.table-center td, .table-center th {
  border: 1px solid #585c67;
  padding: 10px;
}

.table-center th {
  text-transform: uppercase;
  font-size: 14px;
  
}

.table-center th:nth-of-type(1) {
  background-color: #fff;
  color: #292c33;
  text-align: left;
}

.table-center th:nth-of-type(2) {
  background-color: #ff9c00;
}

.table-center th:nth-of-type(3) {
  background-color: #ec3d44;
}

.table-center th:last-child {
  background-color: #08b9c9;  
}

.buy-now {
  background-color: #ec3d44;
  border-radius: 50px;
  width: ;
}